h1 {
    font-size: 3em;
    text-align: center;
    font-family: Andale Mono,AndaleMono,monospace;
    margin-bottom: 100px;
}

div {
    text-align: center;
}

div > a {
    font-family: monospace;
    font-size: 2em;
    text-decoration: none;
    font-style: bold;
    color: inherit;
    background-color: rgb(223, 223, 223);
    padding: 10px;
    border-radius: 15px;
}