h1 {
    font-size: 3em;
    text-align: center;
    font-family: Andale Mono,AndaleMono,monospace;
    margin-bottom: 50px;
}

h2 {
    font-size: 2em;
    text-align: center;
    font-family: Andale Mono,AndaleMono,monospace;
    margin-bottom: 40px;
}

div {
    text-align: center;
}

div > a {
    font-family: monospace;
    font-size: 2em;
    text-decoration: none;
    font-style: bold;
    color: inherit;
    background-color: rgb(134, 191, 255);
    padding: 5px 10px 5px;
    border-radius: 15px;
}

body {
    background-color: rgba(206, 244, 255, 0.555);
}