.flex-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    align-self: center;
    background-color: gray;
    border: 3px solid black;
  }

.flex-container > div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(233, 233, 233);
    width: calc(800px / 16);
    height: calc(800px / 16);
}

div.buttons {
    padding-bottom: 20px;
    text-align: center;
}

div {
    text-align: center;
}

button {
    margin: 0px 5px 0px;
    width: 115px;
    height: 30px;
}

::-webkit-scrollbar {
    display: none;
  }

.top {
    display: flex;
    align-items: center;
}

.top > h1 {
    margin: auto;
    font-family: Andale Mono,AndaleMono,monospace;
    font-size: 3em;
    position: relative;
    right: 35px;
}

.top > a {
    font-family: Andale Mono,AndaleMono,monospace;
    text-decoration: none;
    color: inherit;
    margin-left: 10px;
    align-self: center;
}

.top > a > h2 {
    background-color: rgb(230, 230, 230);
    padding: 5px 10px 5px;
    border-radius: 15px;
}

body {
    background-color: rgb(185, 185, 185);
}

@media screen and (max-width: 700px) {
    .top > h1 {
        margin: auto;
        font-family: Andale Mono,AndaleMono,monospace;
        font-size: 1.5em;
        position: relative;
        right: 35px;
    }

    button {
        margin: 0px 3px 0px;
        width: 55px;
        height: 30px;
        font-size: 8pt;
    }

}