.top > a > h2 {
    background-color: rgb(230, 230, 230);
    padding: 5px 10px 5px;
    border-radius: 15px;
    flex-grow: 1;
}

body {
    background-color: rgb(185, 185, 185);
}

.top {
    display: flex;
    align-items: center;
}

.top > h1 {
    margin: auto;
    font-family: Andale Mono,AndaleMono,monospace;
    font-size: 3em;

}

.top > a {
    font-family: Andale Mono,AndaleMono,monospace;
    text-decoration: none;
    color: inherit;
    margin-left: 30px;
    align-self: center;
}


.calc {
    background-color: rgb(100, 100, 100);
    border-radius: 15px;
    margin: 50px auto 0px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    /*grid-template-rows: repeat(5, 20%);*/
    padding: 10px 10px 10px;
    width: clamp(400px, 50%, 600px);

}

.mainNum {
    background-color: white;
    font-family: Andale Mono,AndaleMono,monospace;
    grid-column: span 4;
    font-size: 3em;
    vertical-align: top;
    text-align: right;
    margin: 20px 5% 20px;
    padding: 3%;
}

.calc > p {
    font-family: Andale Mono,AndaleMono,monospace;
    background-color: white;
    margin: 5%;
    margin: clamp(5%, 5%, 5%);
    padding: 25px 5% 25px;
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

p.eq {
    background-color: rgb(27, 110, 27);
    color: white;
}

p.func {
    background-color: rgb(255, 205, 66);
}