body {
    background-color: rgb(185, 185, 185);
}

.top {
    display: flex;
    align-items: center;
}

h1.title {
    margin: auto;
    font-family: Andale Mono,AndaleMono,monospace;
    font-size: 3em;
    position: relative;
    right: 40px;
}

.top > a {
    font-family: Andale Mono,AndaleMono,monospace;
    text-decoration: none;
    color: inherit;
    margin-left: 10px;
    align-self: center;
}

.top > a > h2 {
    background-color: rgb(230, 230, 230);
    padding: 5px 10px 5px;
    border-radius: 15px;
    text-align: left;
}

.calc {
    background-color: rgb(100, 100, 100);
    border-radius: 15px;
    margin: 50px auto 0px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    /*grid-template-rows: repeat(5, 20%);*/
    padding: 10px 10px 10px;
    width: clamp(350px, 50%, 600px);

}

h1.mainNum {
    background-color: white;
    font-family: Andale Mono,AndaleMono,monospace;
    grid-column: span 4;
    font-size: 3rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    text-align: right;
    margin: 20px 10% 20px;
    padding: 3%;
    border-radius: 15px;
}

.calc > p {
    font-family: Andale Mono,AndaleMono,monospace;
    background-color: rgb(230, 230, 230);
    margin: 5%;
    margin: clamp(5%, 5%, 5%);
    padding: 25px 5% 25px;
    text-align: center;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    border-radius: 15px;
}

p.eq {
    background-color: rgb(27, 110, 27);
    color: white;
}

p.func {
    background-color: rgb(255, 205, 66);
}

p.back {
    background-color: rgb(255, 100, 100);
}

@media screen and (max-width: 600px) {
    .top > h1 {
        margin: auto;
        font-family: Andale Mono,AndaleMono,monospace;
        font-size: 2em;
        position: relative;
        right: 40px;
    }
    .calc {
        background-color: rgb(100, 100, 100);
        border-radius: 15px;
        margin: 10px auto 0px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        /*grid-template-rows: repeat(5, 20%);*/
        padding: 10px 10px 10px;
        width: clamp(350px, 50%, 600px);
    
    }
}